@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ML Image Recognition</h1>
    <table>
        <tr>
            <td class="image_td">
                <img src="~/Images/palm.jpg" />
            </td>
            <td class="image_td">
                <img src="~/Images/podocarpus.jpg" />
            </td>
            <td class="image_td">
                <img src="~/Images/maple.jpg" />
            </td>
            <td class="image_td">
                <img src="~/Images/joshua.jpg" />
            </td>
        </tr>
        <tr>
            <td class="image_td">
                <div class="evaluation_area">
                    <p><b>This is a:</b></p>
                    <p>@Html.Label(Model.FirstImageType)</p>
                    <p><b>Confidence:</b></p>
                    <p><label>@string.Format("{0:0.00}", Model.FirstImageConfidence)</label></p>
                    <button onclick="location.href='@Url.Action("Incorrect", "Home", new { image = Lab2.Constants.Images.Image1 })'">This evaluation is incorrect</button>
                </div>
            </td>
            <td class="image_td">
                <div class="evaluation_area">
                    <p><b>This is a:</b></p>
                    <p>@Html.Label(Model.SecondImageType)</p>
                    <p><b>Confidence:</b></p>
                    <p><label>@string.Format("{0:0.00}", Model.SecondImageConfidence)</label></p>
                    <button onclick="location.href='@Url.Action("Incorrect", "Home", new { image = Lab2.Constants.Images.Image2 })'">This evaluation is incorrect</button>
                </div>
            </td>
            <td class="image_td">
                <div class="evaluation_area">
                    <p><b>This is a:</b></p>
                    <p>@Html.Label(Model.ThirdImageType)</p>
                    <p><b>Confidence:</b></p>
                    <p><label>@string.Format("{0:0.00}", Model.ThirdImageConfidence)</label></p>
                    <button onclick="location.href='@Url.Action("Incorrect", "Home", new { image = Lab2.Constants.Images.Image3 })'">This evaluation is incorrect</button>
                </div>
            </td>
            <td class="image_td">
                <div class="evaluation_area">
                    <p><b>This is a:</b></p>
                    <p>@Html.Label(Model.FourthImageType)</p>
                    <p><b>Confidence:</b></p>
                    <p><label>@string.Format("{0:0.00}", Model.FourthImageConfidence)</label></p>
                    <button onclick="location.href='@Url.Action("Incorrect", "Home", new { image = Lab2.Constants.Images.Image4 })'">This evaluation is incorrect</button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="main_td" colspan="4">
                <button onclick="location.href='@Url.Action("Evaluate", "Home")'">Evaluate Images</button>
            </td>
        </tr>
    </table>
</div>
